name: Frontend CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Verify Node Version
        run: node -v

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Deploy to server
        run: |
          sudo rm -rf /var/www/frontend
          sudo mkdir -p /var/www/frontend
          sudo cp -r dist/* /var/www/frontend/
          sudo systemctl restart nginx
